<footer class="container">
  <div class="footer-content">
    <h4>UASLP</h4>
    <p>
      Universidad Autónoma de San Luis Potosí Álvaro Obregón #64, Col. Centro,
      C.P. 78000 San Luis Potosí, S.L.P., MéxicoTel. +52 (444) 826 23 00
      www.uaslp.mx
    </p>
  </div>
  <div class="footer-content">
    <h4>Secretaría Académica</h4>
    <p>
      Centro de Servicios Integrales Avenida Niño Artillero #150 Zona
      Universitaria, C.P. 78290 San Luis Potosí, S.L.P., MéxicoTel. +52 (444)
      834 25 80 al 85 https://academica.uaslp.mx/
    </p>
  </div>
  <div class="footer-content">
    <h4>Sistema de Bibliotecas</h4>
    <p>
      UAvenida Niño Artillero S/NZona Universitaria, C.P. 78290San Luis Potosí,
      S.L.P., MéxicoTel. +52 (444) 826 23 00 ext 3810
      https://www.bibliotecas.uaslp.mx/
    </p>
  </div>

  <div class="images">
    <img class="img" src="/images/logoUaslp.png" alt="" />
    <img class="img" src="/images/logo2.png" alt="" />
  </div>
</footer>
