.gradesHeader {
  color: black;
  background-color: #d9d9d9;
  font-family: "Open Sans" !important;
  height: 130px;
}
.gradesHeader-menu {
  background-color: #d9d9d9;
  height: 40px;
}
.gradesHeader-menuItem {
  display: inline-block;
  padding-inline: 150px;
  padding-top: 10px;
}
.gradesHeader-editor {
  background-color: #d9d9d9;
  height: 75px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.gradesHeader-editorItem {
  display: flex;
  align-items: center;
  padding-inline: 0px;
  height: 42px;
  font-family: "Open Sans";
}
.title {
  font-family: "Open Sans" !important;
  color: #004a98;
  font-size: 45px;
  font-weight: 900;
  height: auto;
  width: 100vw;
  text-align: center;
  margin-top: 85px;
}
.gradesFooter {
  color: black;
  background-color: #d9d9d9;
  font-family: "Open Sans" !important;
  height: auto;
  display: flex;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}
.gradesFooter-menuItem {
  display: inline-block;
  padding-inline: 140px;
  padding-top: 10px;
}
.grades-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.grades-table thead th {
  text-align: center;
  color: black;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 100;
}

.grades-table tbody td {
  padding: 10px 0;
  font-size: 13px;
  vertical-align: middle;
  font-size: 16px;
}

.grades-table tr {
  border-bottom: 1px solid #e0e0e0;
}

.grades-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #d9d9d9;
  border: 1px solid #b3b3b3;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
}

.grades-table input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin: 0;
  background-color: #d9d9d9;
  border: 0px;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
}

:host {
  display: block;
  width: 100vw;
  height: 105vh;
  background-color: #f2f2f2;
  margin: 0;
  font-family: Arial, sans-serif;
}
