<div class="gradesHeader">
  <div class="gradesHeader-menu">
    <div class="gradesHeader-menuItem">FUENTE</div>
    <div class="gradesHeader-menuItem">EDICIÓN</div>
    <div class="gradesHeader-menuItem">ALINEACIÓN</div>
    <div class="gradesHeader-menuItem">PORTAPAPELES</div>
  </div>
  <div class="gradesHeader-editor">
    <div class="gradesHeader-editorItem" style="width: 90px">
      <i
        class="fa-sharp fa-solid fa-arrow-left fa-4x"
        style="padding-left: 15px"
      ></i>
    </div>
    <div
      class="gradesHeader-editorItem"
      style="
        margin-left: 120px;
        background-color: white;
        width: 250px;
        padding-left: 10px;
      "
    >
      Calibrí
    </div>
    <div
      class="gradesHeader-editorItem"
      style="
        margin-left: 75px;
        background-color: white;
        width: 75px;
        padding-left: 10px;
      "
    >
      24
    </div>
    <div
      class="gradesHeader-editorItem"
      style="
        margin-left: 100px;
        background-color: white;
        width: 75px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      A
      <div style="background-color: red; width: 25px; height: 4px"></div>
    </div>
    <div
      class="gradesHeader-editorItem"
      style="margin-left: 475px; font-size: 35px"
    >
      <b>N</b>
    </div>
    <div
      class="gradesHeader-editorItem"
      style="margin-left: 30px; font-size: 35px"
    >
      <b>K</b>
    </div>
    <div
      class="gradesHeader-editorItem"
      style="margin-left: 30px; font-size: 35px"
    >
      <b>S</b>
    </div>
  </div>
  <div style="background-color: #00b2e3; height: 12px;"></div>
</div>
