<app-main-header></app-main-header>
<div class="course-container">
  <h1 style="margin-top: 0px; font-weight: 800">CURSO: FUNDAMENTOS DE DESARROLLO MOVIL</h1>
  <div class="units-container">
    <div class="unit-card">
      <h2>UNIDAD 1: Fundamentos Del Diseño IUS</h2>
      <div class="activity">
        <div class="act-head">
          <div class="activity-header">ACT 1.1:</div>
          <div class="activity-description">
            Identificando problemas de usabilidad y accesibilidad
          </div>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar">
            <div class="progress" style="width: 80%"></div>
          </div>
          <div class="progress-percentage">80%</div>
        </div>
        <button class="see-more-btn" (click)="navigateToProgress()">
          Ver más
        </button>
      </div>
      <div class="activity">
        <div class="act-head">
          <div class="activity-header">ACT 1.1:</div>
          <div class="activity-description">
            Identificando problemas de usabilidad y accesibilidad
          </div>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar">
            <div class="progress" style="width: 80%"></div>
          </div>
          <div class="progress-percentage">80%</div>
        </div>
        <button class="see-more-btn" (click)="navigateToProgress()">
          Ver más
        </button>
      </div>
    </div>

    <div class="unit-card">
      <h2>UNIDAD 1: Fundamentos Del Diseño IUS</h2>
      <div class="activity">
        <div class="act-head">
          <div class="activity-header">ACT 1.1:</div>
          <div class="activity-description">
            Identificando problemas de usabilidad y accesibilidad
          </div>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar">
            <div class="progress" style="width: 80%"></div>
          </div>
          <div class="progress-percentage">80%</div>
        </div>
        <button class="see-more-btn" (click)="navigateToProgress()">
          Ver más
        </button>
      </div>
      <div class="activity">
        <div class="act-head">
          <div class="activity-header">ACT 1.1:</div>
          <div class="activity-description">
            Identificando problemas de usabilidad y accesibilidad
          </div>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar">
            <div class="progress" style="width: 80%"></div>
          </div>
          <div class="progress-percentage">80%</div>
        </div>
        <button class="see-more-btn" (click)="navigateToProgress()">
          Ver más
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
