<div class="container">
  <!-- Header -->
  <div class="header">
    <div class="images">
      <img class="img" src="/images/logoUaslp.png" alt="" />
      <img class="img" src="/images/logo2.png" alt="" />
    </div>
    <h4>Restablecer contraseña</h4>
  </div>

  <!-- Contenido Principal -->
  <div class="content">
    <h4>¿Olvidaste o no conoces tu contraseña?</h4>
    <p>
      <br />La plataforma hace uso de tu cuenta institucional para poder
      identificarte, es por ello que si no recuerdas tu contraseña deberás
      restablecerla mediante los servicios institucionales.
    </p>
    <p>
      <br />A continuación se muestran los pasos a realizar para restablecer tu
      contraseña institucional:
    </p>
    <br />
    <p><b>Si eres profesor (cuentas con RPE):</b></p>

    <ol>
      <li>
        Ingresa al sitio
        <a href="https://tic.uaslp.mx/">https://tic.uaslp.mx/</a>.
        <ul>
          <li>
            Si no has habilitado tu cuenta institucional selecciona la opción
            <strong>Creación de nuevas cuentas de correo personales</strong>.
          </li>
          <li>
            Si ya habilitaste tu cuenta institucional selecciona la opción
            <strong
              >Restablecer contraseña de cuentas de correo personales</strong
            >.
          </li>
        </ul>
      </li>
      <li>
        Llena el formulario con los siguientes datos:
        <ul>
          <li>RPE</li>
          <li>CURP</li>
          <li>Folio de tu último recibo de pago</li>
        </ul>
      </li>
      <li>
        Coloca una nueva contraseña que cumpla los requisitos de seguridad.
      </li>
    </ol>

    <br />
    <p><b>Si eres profesor (no cuentas con RPE):</b></p>

    <ol>
      <li>
        <p>
          Ingresa al sitio
          <a href="https://tic.uaslp.mx/">https://tic.uaslp.mx/</a>.
        </p>
      </li>
      <li>
        <p>
          Identificar al RTIC (Responsables de Tecnologías de la Información y
          Comunicación)
        </p>
      </li>
      <li><p>Solicita la creación de una cuenta institución temporal</p></li>
    </ol>
    <button class="btn" (click)="navigateToLogin()">Regresar</button>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
