.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  text-align: center;
  border-radius: 20px;
  border: 3px solid #000;
  background: linear-gradient(
    180deg,
    #004a98 11.5%,
    #002c5b 92.5%,
    #001832 100%
  );
  width: 40%;
  height: 75%;
  position: relative;
}

/* The Close Button */
.close {
  color: #f00;
  float: left;
  font-size: 28px;
  font-weight: bold;
  padding-left: 50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-profile img {
  width: 261px;
  height: 240px;
  margin-top: 28px;
}

.img-exit {
  width: 70px;
  height: 60px;
}

.exit {
  display: flex;
  justify-content: right;
  padding-right: 40px;
}

.exit button {
  border: none;
  background: none;
  cursor: pointer;
}

.labels {
  display: flex;
  flex-direction: column;
  padding: 41px 80px 80px 100px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.labels label {
  width: 500px;
  background: none;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid white;
  font-weight: 50;
}
