.topBar {
  display: flex;
  justify-content: center;
  gap: 450px;
  margin: 10px 0;
}

.topBar h1 {
  font-family: "Open Sans";
  color: #0056b3;
  font-weight: 700;
}

.topBar i {
  color: #0d6efd;
}

.topBar i:hover {
  filter: saturate(0.5);
}

.custom-table {
  width: calc(100% - 312px);
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 74px;
}

.custom-table th,
.custom-table td {
  padding: 10px; /* Espaciado dentro de cada celda */
  border: 1px solid #000; /* Borde en cada celda */
}

.custom-table img {
  width: 50px; /* Ajusta el tamaño de las imágenes */
}

.custom-table button {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.custom-table button i {
  color: #000;
}

.custom-table button i:hover {
  color: red;
}

.custom-table td:hover {
  background-color: #004a98;
}

.custom-table th {
  background-color: #004a98;
  color: white;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}