/* Contenedor principal */
.enlaces-curso-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #003366;
}

.title-container {
  width: 800px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
}

.icon-container {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Título */
.enlaces-curso-container h2 {
  color: var(--Primary_color, #004a98);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 400px;
  margin-top: 45px;
}

/* Contenedor con scroll para la lista de enlaces */
.lista-enlaces {
  max-height: 400px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Habilita el scroll vertical */
  margin-bottom: 20px;
  padding-right: 10px; /* Espacio para el scroll */
  border: 1px solid #ddd; /* Borde para el contenedor */
  border-radius: 20px;
  background-color: #f9f9f9;
  background-color: #004a98;
  scrollbar-width: none;
  width: 908;
}

/* Tarjetas */
.enlace-card {
  background-color: #004a98;
  color: #ffffff;
  padding-top: 0;
  margin-bottom: 0px;
  border-bottom: solid white 2px;
  height: 270px;
  width: 900px;
  margin-left: 50px;
}

/* Encabezado de cada tarjeta */
.enlace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
}

.enlace-header h3 {
  color: var(--color_prueba, #fff);
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Botón circular */
.add-button {
  background-color: #d8d8d8;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  margin-left: 890px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-button span {
  font-size: 80px;
  color: #00509e;
  font-weight: bold;
}

.add-button:hover {
  background-color: #dddddd;
}

/* Cuerpo de la tarjeta */
.enlace-body {
  padding-bottom: 40px;
  width: 800px;
  margin-left: 55px;
}
.enlace-body p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
  border: black solid 2px;
  width: 742px;
  height: 55px;
  margin-left: 25px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 185px;
  width: 60px;
  height: 60px;
}

@media (max-width: 680px) {
  .title-container {
    width: 400px;
    height: 240px;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 28px;
  }

  .icon-container {
    margin-top: 50px;
  }

  .enlace-header h3 {
    font-size: 30px;
  }

  .enlace-card {
    height: 150px;
    padding-top: 15px;
    width: 370px;
  }

  .enlace-header {
    width: 110%;
    text-align: left;
    height: 40px;
    margin-bottom: 15px;
  }

  .enlace-body p {
    border: black solid 2px;
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    height: auto;
  }

  .add-button {
    margin-left: 86%;
    margin-top: 3%;
  }
}
