<div class="modal" *ngIf="isOpen" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="notifications-header">
      <h2>NOTIFICACIONES</h2>
      <span class="date-time">26/10/2024 | 19:23:00</span>
    </div>

    <div class="notifications-body">
      <p class="unread-title">Notificaciones no leídas (5)</p>

      <div class="notification">
        <div class="notification-left">
          <p class="notification-date">26/10/2024</p>
          <i class="fa-solid fa-trash"></i>
          <p class="notification-message">
            El correo se ha enviado correctamente a los alumnos del curso de
            Diseño de Interfaces
          </p>
        </div>
        <div class="notification-right">
          <p class="notification-time">15:47:00</p>
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="notification">
        <div class="notification-left">
          <p class="notification-date">26/10/2024</p>
          <i class="fa-solid fa-trash"></i>
          <p class="notification-message">
            El correo se ha enviado correctamente a los alumnos del curso de
            Diseño de Interfaces
          </p>
        </div>
        <div class="notification-right">
          <p class="notification-time">15:47:00</p>
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="notification">
        <div class="notification-left">
          <p class="notification-date">26/10/2024</p>
          <i class="fa-solid fa-trash"></i>
          <p class="notification-message">
            El correo se ha enviado correctamente a los alumnos del curso de
            Diseño de Interfaces
          </p>
        </div>
        <div class="notification-right">
          <p class="notification-time">15:47:00</p>
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="notification">
        <div class="notification-left">
          <p class="notification-date">26/10/2024</p>
          <i class="fa-solid fa-trash"></i>
          <p class="notification-message">
            El correo se ha enviado correctamente a los alumnos del curso de
            Diseño de Interfaces
          </p>
        </div>
        <div class="notification-right">
          <p class="notification-time">15:47:00</p>
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="notification">
        <div class="notification-left">
          <p class="notification-date">26/10/2024</p>
          <i class="fa-solid fa-trash"></i>
          <p class="notification-message">
            El correo se ha enviado correctamente a los alumnos del curso de
            Diseño de Interfaces
          </p>
        </div>
        <div class="notification-right">
          <p class="notification-time">15:47:00</p>
          <label class="custom-checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="notifications-footer">
      <a class="pagination-link">Anterior</a>
      <a class="pagination-link">1</a>
      <a class="pagination-link">2</a>
      <a class="pagination-link">Siguiente</a>
    </div>
  </div>
</div>
