.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  color: #0d6efd;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.dropbtn:hover {
  background-color: #0d6efd;
  color: white;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 200;
}
