<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="icon-container">
        <i class="fa-solid fa-file-pdf fa-8x" style="color: black"></i>
    </div>
    <div class="details">
      <h2>Título</h2>
      <p class="title">Exploring Interfaces Design</p>
      <h3>Autor</h3>
      <p class="author">Marc Silver</p>
      <h3>Descripción</h3>
      <p class="description">
        Este libro cubre los principios fundamentales del diseño de interfaces,
        incluyendo la interacción y la usabilidad.
      </p>
    </div>
  </div>
</div>
