<app-main-header></app-main-header>

<div class="container">
  <div class="header">
    <a [routerLink]="['/mainDash']">
      <button class="back-button">
        <i class="fa-solid fa-arrow-left fa-2x"></i>
      </button>
    </a>
    <h1>AVANCES: ACT 1.1</h1>
    <h2>Identificando problemas de usabilidad y accesibilidad</h2>
  </div>

  <div class="content">
    <div class="sidebar">
      <div class="progress-chart">
        <i
          class="fa-solid fa-chart-column fa-6x"
          style="width: 117px; height: 92px"
        ></i>

        <p (click)="openModalCreate()">Gráfica de Progreso</p>

        <!-- Modal -->
        <div *ngIf="isModalOpen" class="modal-overlay">
          <div class="modal-content">
            <button class="close-btn" (click)="closeModalCreate()">×</button>
            <progreso-alumno
              [isOpen]="isModalOpen"
              (close)="closeModalCreate()"
            >
            </progreso-alumno>
          </div>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="question-card">
        <div class="question-title">
          <h3>Pregunta 1:</h3>
          <p class="progress-percentage">100%</p>
        </div>
        <div class="answer">
          <strong>¿Qué es un problema de usabilidad?</strong>
          <p>RESPUESTA:</p>
          <p>
            Un problema de usabilidad es cualquier obstáculo que impide a los
            usuarios interactuar de manera eficiente con un sistema, sitio web o
            aplicación. Esto puede incluir navegación confusa, funciones
            difíciles de encontrar o interfaces poco intuitivas.
          </p>
        </div>
      </div>
      <div class="question-card">
        <div class="question-title">
          <h3>Pregunta 1:</h3>
          <p class="progress-percentage">100%</p>
        </div>
        <div class="answer">
          <strong>¿Qué es un problema de usabilidad?</strong>
          <p>RESPUESTA:</p>
          <p>
            Un problema de usabilidad es cualquier obstáculo que impide a los
            usuarios interactuar de manera eficiente con un sistema, sitio web o
            aplicación. Esto puede incluir navegación confusa, funciones
            difíciles de encontrar o interfaces poco intuitivas.
          </p>
        </div>
      </div>
      <div class="question-card">
        <div class="question-title">
          <h3>Pregunta 1:</h3>
          <p class="progress-percentage">100%</p>
        </div>
        <div class="answer">
          <strong>¿Qué es un problema de usabilidad?</strong>
          <p>RESPUESTA:</p>
          <p>
            Un problema de usabilidad es cualquier obstáculo que impide a los
            usuarios interactuar de manera eficiente con un sistema, sitio web o
            aplicación. Esto puede incluir navegación confusa, funciones
            difíciles de encontrar o interfaces poco intuitivas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
