<div class="all">
  <div class="header">
    <div class="images">
      <img class="img" src="/images/logoUaslp.png" alt="" />
      <img class="img" src="/images/logo2.png" alt="" />
    </div>

    <button class="newMat" (click)="openModalCreate()">Crear Material</button>
    <app-create-content
      [isOpen]="isModalOpen"
      (close)="closeModalCreate()"
    ></app-create-content>

    <div class="menus">
      <button class="btn-top" (click)="openModalNoti()">
        <i class="fa-solid fa-bell fa-2x"></i>
      </button>
      <app-notifications
        [isOpen]="isModalNotiOpen"
        (close)="closeModalNoti()"
      ></app-notifications>
      <button class="btn-top" (click)="openModalProfile()">
        <i class="fa-solid fa-user fa-2xl"></i>
      </button>
      <app-profile
        [isOpen]="isModalProfileOpen"
        (close)="closeModalProfile()"
      ></app-profile>
    </div>
  </div>

  <div class="nav">
    <div class="navCurso">
      <app-nav-main-header nombreNav="Cursos">
        <a [routerLink]="['/mainDash']">Diseño de Interfaces</a>
        <a [routerLink]="['/mainDash-web']">Fundamentos de Desarrollo Web</a>
        <a [routerLink]="['/mainDash-movil']"
          >Fundamentos de Desarrollo Móvil</a
        >
      </app-nav-main-header>
    </div>

    <div class="nav-derecha">
      <app-nav-main-header nombreNav="Alumnos">
        <a [routerLink]="['/grades']">Centro de control de cursos</a>
        <a [routerLink]="['/listaalumnos']">Alumnos Inscritos</a>
      </app-nav-main-header>

      <app-nav-main-header nombreNav="Información del Curso">
        <a [routerLink]="['/']">Enlaces</a>
        <a [routerLink]="['/avisos']">Avisos</a>
      </app-nav-main-header>
    </div>
  </div>
</div>
