.all {
  position: sticky;
  width: 100%;
  top: 0;
}

.header {
  font-family: "Open Sans" !important;
  display: flex;
  height: 129px;
  padding: 10px 144px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #004a98;
  color: white;
  border-bottom: 8px solid var(--Footer_color, #00b2e3);
  font-size: 42px;
  font-weight: 600;
  box-sizing: border-box;
}

.img {
  height: 101px;
  padding-top: 10px;
}

.newMat {
  margin-left: 8rem;
  width: 152px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 1.5px solid #000;
  font-weight: 600;
  font-size: 16px;
  background: var(--Background_color, #f2f2f2);
  cursor: pointer;
}

.menus {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
}

.btn-top {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.nav {
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 900px;
  padding-top: 5px;
}

.nav-derecha {
  display: flex;
  gap: 80px;
}

.nav a {
  color: #0d6efd;
  padding: 12px 16px;
  margin: 4px 0;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
}

.nav a:hover {
  background-color: #0d6efd;
  color: white;
}

.newMat:hover {
  background-color: #b3b3b3;
}

.btn-top:hover {
  color: #00014a;
}
