.header {
    font-family: "Open Sans" !important; 
    display: flex;
    height: 129px;
    padding: 10px 144px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: #004A98;
    color: white;
    border-bottom: 8px solid var(--Footer_color, #00B2E3);
    font-size: 42px;
    font-weight: 600;
    box-sizing: border-box;
}

.img{
    height: 101px;
    padding-top: 10px;
}

.newMat {
    margin-left: 8rem;
    width: 152px;
    height:40px;
    padding: 8px;
    border-radius: 8px;
    border: 1.5px solid #000;
    font-weight: 600;
    font-size: 16px;
    background: var(--Background_color, #F2F2F2);
    cursor: pointer;
}

.menus{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
}

.btn-top{
    background: none;
    border: none;
    cursor: pointer;
}



